# This is a sample file to understand the structure of the file. https://github.com/Jisin0/autofilterbot/tree/main/.env.sample
# Please set your necessary variables in a .env file placed at the root of the project.

# Required
BOT_TOKEN = 
MONGODB_URI = 
ADMINS = 7583913669
FILE_CHANNELS = -1003898186147

# Optional
LOG_LEVEL= DEBUG
APP_ID = 37988924
APP_HASH = fccc55f248cf1739f6cf120d3e244561
MONGODB_URI1 = mongodb+srv://autofilter:password@cluster1.tdigsjaidu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI2 = mongodb+srv://autofilter:password@cluster1.tdigsjaidu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
