# This is a sample file to understand the structure of the file. https://github.com/Jisin0/autofilterbot/tree/main/.env.sample
# Please set your necessary variables in a .env file placed at the root of the project.

# Required
BOT_TOKEN = 8713802111:AAGmGmusf5PxmCXUCVn9dqNjFksjZNDM_VM
MONGODB_URI = mongodb+srv://Maggie12:Deepta123@cluster0.g4syvio.mongodb.net/?appName=Cluster0
ADMINS = 5953067512
FILE_CHANNELS = -1004429996382

# Optional
LOG_LEVEL= DEBUG
APP_ID = 35585958
APP_HASH = 5c3e3e9cca5b0cf55845e0be1410f8b2
MONGODB_URI1 = mongodb+srv://Maggie12:Deepta123@cluster0.g4syvio.mongodb.net/?appName=Cluster0
MONGODB_URI2 = mongodb+srv://Maggie12:Deepta123@cluster0.g4syvio.mongodb.net/?appName=Cluster0
